.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}
svg{
    width:12px;
    height:12px
}
/* .css-1dbjc4n{
    display: inline;
} */
.card{
    /* color:#faf920; */
    color:blue;
}
.likeshare li{
        display: inline-block;
        font-size: 20px;
        padding: 10px;
}
.buttons li{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
ul{
    text-align: center;
}
#left{
    margin-left: 15%;
    margin-top: 2%;
    font-size: 16;
}
.px-3{
    font-family: 'Helvetica Neue', sans-serif;
}
.font-weight-bold{
    font-family: 'Helvetica Neue', sans-serif;
}
li{
    font-family: 'Helvetica Neue', sans-serif;
}